@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --azul: #307BFF;
    --laranja: #EB8C13;
    --roxo: #A438E6;
}

header {
    /* background-color: #FA2019; */
    background-image: url("../img/fogo.jpg");
    background-position: center -639px;
    background-size: 100%;
    background-repeat: no-repeat;

    height: 10vh;
    padding: 2vh;
}

header div {
    display: grid;
    grid-template-columns: 5% 90% 5%;
}
header nav {
    display: none;
    position: relative;
    /* display: flex; */
    flex-direction: column;
    float: right;
    text-align: end;
    background-color: #c2c2c2;
    width: 13vw;
    border-radius: 10%;
}
header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 10%;
}

main {
    padding: 2vh;
}

#logo {
    width: -webkit-fill-available;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.titulo_header {
    font-family: 'Antonio', sans-serif;
    letter-spacing: 1px;
    color: white;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#botao_menu {
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 6vh;
}

.vermelho {
    color: #FA2019;
}

/* .grade {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
} */

.bloco {
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: #DFDFDF;
    padding: 2vh;
    margin: 2vh;
    border-radius: 2vh;
    width: 10.4rem;
    height: 10.4rem; /* Não tenho cereteza como essas medidas vão se comportar */
    transition: 0.2s;
    cursor: pointer;
}

.bloco:hover {
    transform: scale(1.1);
}

.bloco:active {
    transform: scale(0.9);
}

.bloco_anula {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.bloco svg, .icones_centrais {
    display: flex;    
    margin: auto;
    height: 80%;
    width: 80%;
}

.titulo_bloco {
    text-align: center;
}

.sublocos_centrais, .form_central, .grade {
    display: flex;
    /* align-items: center; */  /* Vertical não é necessário */
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.sub_bloco {
    display: none;
    /* animation-name: surgimento-subloco;
    animation-duration: 0.5s; */
}
/* @keyframes surgimento-subloco {
    0% {
        height: 0vh;
    }
    0%, 50% {
        opacity: 0;
    }
    100% {
        height: 70vh;
        opacity: 1;
    }
} */

.form_central div {
    text-align: center;
}

form {
    display: inline-block;
}

.divisoes {
    display: grid;
    grid-template-columns: 4% 95% 1%;
}

.linha_divisoria {
    background-color: #C4C4C4;
    height: 2px;
}
.linha_divisoria, .divisoes svg {
    margin-top: 10.8px;
}

.texto_divisoria {
    color: red;
    font-weight: 900;
    font-size: 1.2rem;
}
.anima {
    transition: 0.2s;
}
.anima:hover {
    transform: scale(1.2);
}
/* input[type=submit] input[type=button] input[type=email] input[type=password] input[type=tel] textarea input[type=reset] input[type=date] select*/
input[type=text], input[type=button], select {
    /* border: border-width border-style border-color  */
    border: 2px solid #DFDFDF;
    border-radius: 50vh;
    padding: 10px;
    width: 310px;
    margin: 5px;
}
input[type=button] {
    border: transparent;
    background-color: #DFDFDF;
    width: 120px;
}
/*footer*/
footer {
    background-color: #1D1919;
}
.footer-primeira-div {
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr 6fr 4fr;
    justify-content: space-around;
}
#logo2 {
    width: 150px;
}
#uffs {
    width: 300px;
    margin-top: 16px;
}
.bold {
    font-weight: bolder;
    color: white;
}
.white {
    color: white;
}
.tamanho1 {
    font-size: 20px;
}
.tamanho2 {
    font-size: 60px;
}
.footer-segunda-div {
    background-color: #292424;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.limpa_formatacao {
    text-decoration: none;
}
.github {
    width: 12px;
}
/*footer*/

/* #A_, #A1_, #A2_, #A3_,#UnifamiliarMista_, #Geminadas_, #Isoladas_, #B_, #B1_, #B2_, #C_, #C1_, #C2_, #C3_,
#D_, #D1_, #D2_, #D3_, #D4_, #E_, #E1_, #E2_, #E3_, #E4_, #E5_, #E6_, #F_, #F1_, #F2_, #F3_, #F4_, #F5_, #F6_,
#F7_, #F8_, #F9_, #F10_, #F11_{
    display: none;
} */


@-moz-document url-prefix() {
    #logo {
        width: -moz-available;
    }
}

svg {
    color: black;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #292424;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #494747;

}

::-webkit-scrollbar-track {
    background-color: transparent;
}