@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --azul: #307BFF;
    --laranja: #EB8C13;
    --roxo: #A438E6;
}

header {
    /* background-color: #FA2019; */
    background-image: url("../img/fogo.jpg");
    background-position: center -639px;
    background-size: 100%;
    background-repeat: no-repeat;

    height: 10vh;
    padding: 2vh;
}

header div {
    display: grid;
    grid-template-columns: 5% 90% 5%;
}
header nav {
    display: none;
    position: relative;
    /* display: flex; */
    flex-direction: column;
    float: right;
    text-align: end;
    background-color: #c2c2c2;
    width: 13vw;
    border-radius: 10%;
}
header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 10%;
}

main {
    padding: 2vh;
}

#logo {
    width: -webkit-fill-available;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.titulo_header {
    font-family: 'Antonio', sans-serif;
    letter-spacing: 1px;
    color: white;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#botao_menu {
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 6vh;
}

.vermelho {
    color: #FA2019;
}

.grade {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.bloco {
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: #DFDFDF;
    padding: 2vh;
    margin: 2vh;
    border-radius: 2vh;
    width: 10.4rem;
    height: 10.4rem; /* Não tenho cereteza como essas medidas vão se comportar */
}

.bloco svg, .icones_centrais {
    display: flex;    
    margin: auto;
    height: 80%;
    width: 80%;
}

.titulo_bloco {
    text-align: center;
}

.sublocos_centrais, .form_central {
    display: flex;
    /* align-items: center; */  /* Vertical não é necessário */
    justify-content: center;
}


.divisoes {
    display: grid;
    grid-template-columns: 4% 95% 1%;
}

.linha_divisoria {
    background-color: #C4C4C4;
    height: 2px;
}
.linha_divisoria, .divisoes svg {
    margin-top: 10.8px;
}

.texto_divisoria {
    color: red;
    font-weight: 900;
    font-size: 1.2rem;
}

.anima:hover {
    transition: 0.2s;
    transform: scale(1.2);
}
/* input[type=submit] input[type=button] input[type=email] input[type=password] input[type=tel] textarea input[type=reset] input[type=date] select*/
input[type=text], input[type=submit] {
    /* border: border-width border-style border-color  */
    border: 2px solid #DFDFDF;
    border-radius: 50vh;
    padding: 10px;
    width: -webkit-fill-available;
    margin: 5px;
}
input[type=submit] {
    border: transparent;
    margin: 0 8vw 0 8vw;
    background-color: #DFDFDF;
}

footer {
    background-color: #DFDFDF;
    height: 50px;
}

#A_, #A1_, #A2_, #UnifamiliarMista_ {
    display: none;
}


@-moz-document url-prefix() {
    #logo, input[type=text], input[type=submit] {
        width: -moz-available;
    }
}