@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    /* background-color: #FA2019; */
    background-image: url("../img/fogo.jpg");
    background-position: center -639px;
    background-size: 100%;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 5% 90% 5%;
    height: 10vh;
    padding: 2vh;
    /* margin-bottom: 2vh; */
}

main {
    padding: 2vh;
}

#logo {
    width: -webkit-fill-available;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

@-moz-document url-prefix() {
    #logo {
        width: -moz-available;
    }
}

.titulo_header {
    font-family: 'Antonio', sans-serif;
    letter-spacing: 1px;
    color: white;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#botao_menu {
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.vermelho {
    color: #FA2019;
}

.grade {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.bloco {
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: #DFDFDF;
    padding: 2vh;
    margin: 2vh;
    border-radius: 2vh;
    width: 10.4rem;
    height: 10.4rem; /* Não tenho cereteza como essas medidas vão se comportar */
}

.icones_centrais {
    display: flex;    
    margin: auto;
    height: 80%;
    width: 80%;
}

.titulo_bloco {
    text-align: center;
}

.sublocos_centrais {
    display: flex;
    /* align-items: center; */  /* Vertical não é necessário */
    justify-content: center;
}

.divisoes {
    display: grid;
    grid-template-columns: 4% 95% 1%;
}

.linha_divisoria {
    background-color: #C4C4C4;
    height: 2px;
}
.linha_divisoria, .divisoes svg {
    margin-top: 10.8px;
}

.texto_divisoria {
    color: red;
    font-weight: 900;
    font-size: 1.2rem;
}

#AA {
    display: none;
}